{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
    <script src="{{ MEDIA_URL }}js/dashboard.js"></script>
{% endblock %}

{% block title %}
<h1>{% blocktrans with request.user.first_name as first_name %}Hello {{ first_name }}!{% endblocktrans %}</h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <ul class="errors">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action=".">
        <h2>When have you been here?</h2>
        {{ form.user }}
        {% if form.user.errors %}{{ form.user.errors }}{% endif %}
        {{ form.day }}
        {% if form.errors.day %}{{ form.errors.day }}{% endif %}
        <input type="submit" class="button" value="{% trans "Stamp" %}" id="submit" />
    </form>
    
    {% if to_pay %}
        <p>You still have to pay <span id="to_pay">{{ to_pay }}</span> €.</p>
        <form method="post" action="{% url attendance_pay %}" id="payment">
            {{ payment_form.amount }}
            <input type="submit" class="button" value="{% trans "Pay" %}" id="submit" />
            <div class="helptext">{{ payment_form.amount.help_text }}</div>
        </form>
    {% endif %}
    
    {% if days.count %}
        <h2>You've been here:</h2>
        <table class="attendance">
            <tbody>
            {% for day in days %}
                <tr>
                    <th class="day">{{ day.day|date:"l, F j, Y" }}</th>
                    <td class="status">{% if not day.paid %}Dude, where's the money?!{% else %}Paid. Thanks!{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}